{% extends "base.html"%}


{% block main %}
  <section class="page-section-layout">
    <div class="detail-card bg-dark" style="background-image: url(https://image.tmdb.org/t/p/original{{ dvd.background_image }})">
      <div class="detail-content">
        <img src="https://image.tmdb.org/t/p/original{{ dvd.poster_image }}" alt="the shawshank redemption">
        <div class="detail-description d-flex flex-column">
          <h2 class="title">
            {% if dvd.title == dvd.original_title %}
              {{ dvd.title }}
            {% else %}
              {{ dvd.title }} ({{ dvd.original_title }})
            {% endif %}
          </h2>
          <h6>Overview</h6>
          <p>{{dvd.description}}</p>
          <p><span class="badge badge-light">Genre: </span> 
            || 
            {% for genre in dvd.genres %} 
              {{ genre.name }} ||
            {% endfor %}
          </p>
          <p><span class="badge badge-light">Director: </span> {{ dvd.director }}</p>
          {% if dvd.actors %}
          <p><span class="badge badge-light">Featured: </span> 
            || 
            {% for actor in dvd.actors %}
              {{ actor.name }} ||
            {% endfor %}
          </p>
          {% endif %}
          {% if dvd.episodes > 0 %}
          <p><span class="badge badge-light">Epsiodes: </span> 
            Total of {{ dvd.episodes }} episodes
          </p>
          {% endif %}
          {% if dvd.running_time > 0 %}
          <p><span class="badge badge-light">Running Time: </span> 
            {{ dvd.running_time }} minutes
          </p>
          {% endif %}
          <p><span class="badge badge-light">Release Date: </span> {{dvd.release_date}}</p>
          <p><span class="badge badge-light">Price: </span> $ {{"%.2f" % dvd.price}}</p>
          {% if dvd.in_stock > 0 %}
          <p><span class="badge badge-success">In Stock</span></p>
          {% else %}
          <span class="badge badge-danger">Out of Stock</span> 
          <p><span class="badge badge-danger"></span></p>
          {% endif %}
          <div class="d-flex">
            <form class="mx-2" action={{url_for("main.add_order", dvd_id=dvd.id )}}>
              <input type="hidden" id="dvd_id" name="dvd_id" value="{{dvd.id}}"/>
              <button type="sumbit" class="btn btn-outline-light btn-lg">Add To Basket</button>
            </form>
            <form class="mx-2" action={{url_for("main.add_wishlist", dvd_id=dvd.id )}}>
              <input type="hidden" id="dvd_id" name="dvd_id" value="{{dvd.id}}"/>
              <button type="submit" class="btn btn-outline-light btn-lg" >Save to Wishlist</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
