{% extends "base.html" %}

{% block main %}

<section class="page-section-layout">
  <div class="container-fluid">
    {% if dvds %}
      <article class="row justify-content-center">
      {% for dvd in dvds %}
        <div class="card bg-dark" >
            <img src={{"https://image.tmdb.org/t/p/original/"+dvd.poster_image}} class="card-img-top" alt={{dvd.title}}>
            <div class="card-body text-light">
              <h5 class="card-title">{{dvd.title}}</h5>
              <p class="movie-description">{{dvd.description}}</p>
              <div class="d-flex justify-content-between">
                <p class="price">$ {{dvd.price}}</p>
                <p class="rating">Rating: {{"%.2f" % dvd.rating}}</p>
              </div>
              <div class="text-center">
                <a href={{url_for("main.detail", dvd_id=dvd.id)}} class="btn btn-secondary btn-md">View Detail</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </article>  
    {% else %}
    {% endif %}
  </div>
</section>

{% endblock %}